body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-weight: 400;
}

li{
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content: flex-end;

}

.hlava {
    background-image: url(images/poliklinika.jpg);
    background-repeat:no-repeat;
	background-position: center;
    background-size: cover;

}
.hlava_center {
    display:flex;
    justify-content:center;
}
.nadpis{
    margin:100px;
}
.aktuality {
    margin: 100px;
    color:white;
    background-color: rgb(50, 185, 185);
    padding: 50px;
    box-shadow: 9px 15px 18px -3px rgba(0,0,0,0.54);
}
h2 {
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 1px solid white;
    margin-top: 0;
}
